.hero-body{
    position: relative;
}
.hero-body section{
    z-index: 2;
}

.section-fullheight{
    height: 100vh;
}

#image_background{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 110vh;
    filter: blur(2px) grayscale(75%) opacity(50%);
    z-index: 1;
    transform: translate(-50%,-50%);
}

.fundo-cor{
    background-color: #f2f2f288;
    box-shadow: 0 0 4px #3298DC;
    border-radius: 6px;
}