/* CSS Pre Loader Banner */

#preLoadBanner{
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;
    font-family: Ubuntu, sans-serif;
    background-color: hsl(204, 71%, 53%);
    overflow: hidden;
    animation: changeColor 1s linear infinite alternate;
    -moz-animation: changeColor 1s linear infinite alternate;
    -webkit-animation: changeColor 1s linear infinite alternate;
    -ms-animation: changeColor 1s linear infinite alternate;
    -o-animation: changeColor 1s linear infinite alternate;
}

@keyframes changeColor  {
    from {
        background-color: hsl(204, 71%, 53%);
    }   
    to {
        background-color: hsl(204, 71%, 45%);
    } 
}

#background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 20rem;
    opacity: 0.5;
    background-image: linear-gradient(120deg, hsl(204, 71%, 53%) 0%,hsl(204, 71%, 39%) 100%);
    animation: backgroundMoving 4s linear infinite alternate;
    -moz-animation: backgroundMoving 4s linear infinite alternate;
    -webkit-animation: backgroundMoving 4s linear infinite alternate;
    -ms-animation: backgroundMoving 4s linear infinite alternate;
    -o-animation: backgroundMoving 4s linear infinite alternate;
}

@keyframes backgroundMoving {
    0% {
        transform: skew(-90deg,-90deg) scale(1);
        border-radius: 5rem;
    }
    100% {
        transform: skew(90deg,90deg) scale(1.2);
        border-radius: 5rem;
    }
}
section#container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

section#container main{
    position: relative;
    display: flex;
    width: 50vw;
    height: 40vh;
    box-shadow: 0 0 2vw hsl(204, 95%, 39%);
    background-color: hsl(204, 71%, 50%);
    border-radius: 1rem;
    padding: 2vh 2vw;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

section#container main img{
    height: 180px;
    border-radius: 50%;
}

#closebanner{
    position: absolute;
    background-color: hsl(204, 71%, 83%);
    bottom: 0rem;
    left: 50%;
    transform: translate(-50%,60%);
    box-shadow: 0 4px 6px hsl(204, 71%, 20%);
}
#closebanner i{
    color: hsl(204, 71%, 24%);;
    border-radius: 1rem;
    cursor: pointer;
}

@media only screen and (max-width: 900px){
    section#container main{
        flex-direction: column;
        width: 60vw;
        height: 75vh;
    }
}


/* CSS Main Page and Projects */
.hero-body{
    position: relative;
    background-color: hsl(204, 71%, 83%);
}
.hero-body section{
    z-index: 2;
}

#section_projetos{
    width: 100vw;
}

.fundo-cor{
    background-color: hsla(206, 70%, 92%, 65%);
    box-shadow: 0 0 6px #3298DC;
    border-radius: 6px;
}

.fundo-cor .content{
    color: hsl(204, 71%, 20%);
    font-weight: 600;
}